body{
    background-color: #000000;
}
.container{
    height: 160px;
    background-color: #252626;
    width: 500px;
    margin-top: 350px;
    margin-left: 700px;
}
.container h1{
   font-size: 2em;
   margin-left: 6rem;
   margin-top: 20px;
   color: #2426ff;
}